<!DOCTYPE html>
<html>
  <head>
    <title>EventCalendar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
        <%= link_to image_tag("logo.png", class:"icon"), "/" %>
    </header>
    <%= yield %>
    <footer class="footer">
      <p>
        EVENT CALENDAR 2020.
      </p>
    </footer>
  </body>
</html>
